body{
	padding: 15%;
	
	background-color: #FFCB42 !important;
	font-family: "BioRhyme", "Arial" !important;
	
}

.container-fluid{
	
}
.center{
	width: 50%;
	height:50%;
	background-color: #049DE7;
	padding: 50px;
	margin: 0 auto;
	border: 1px solid #02547C;
	border-radius: 20px;
	
}



#weather{
	text-align: center;
}

.btn-info{
	border: 1px solid #02547C !important;
}

.well{
	background: #02547C !important;
	color: white;
	border: 1px solid #02547C !important;
}